[submodule ".config/leftwm/themes/smooth"]
	path = .config/leftwm/themes/smooth
	url = git@github.com:marcelarie/arcolinux-leftwm-theme-smooth.git
    ignore = dirty

[submodule ".mozilla"]
	path = .mozilla
	url = git@github.com:marcelarie/.mozilla.git
    ignore = dirty
[submodule ".config/leftwm/themes/smooth"]
	path = .config/leftwm/themes/smooth
	url = git@github.com:marcelarie/arcolinux-leftwm-theme-smooth.git
    ignore = dirty
[submodule ".config/nixos"]
	path = .config/nixos
	url = git@github.com:marcelarie/nix.git
[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git
[submodule ".password-store"]
	path = .password-store
	url = git@github.com:marcelarie/.password-store.git
[submodule ".config/tmux/plugins/minimal-tmux-status"]
	path = .config/tmux/plugins/minimal-tmux-status
	url = https://github.com/niksingh710/minimal-tmux-status.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
