# Ignore everything
/*
/*/

# But not these files...
!*.gitignore
!.config
.config/*
!.config/awesome
!.config/kitty
!.config/polybar*
!.config/pacman
!.config/paru
!.config/himalaya
!.config/cheat
!.config/fish
!.config/starship.toml
!scripts/
!.vimrc
!*.zshrc
!*.prettierrc
!*.profile
!*.tmux.conf
!*.vimrc
!*local_supers.md
!*old-sys-pacman-qe.md
