# Ignore everything
/*
/*/

# But not these files...
!*.gitignore
!.gitconfig
!.config
.config/*
!.config/alacritty
!.config/awesome
!.config/dwm
!.config/kitty/prenix-kitty.conf
!.config/autorandr
!.config/polybar*
!.config/himalaya
!.config/cheat
!.config/fish/prenix-config.fish
!.config/vifm
!.config/omf
!.config/rofi
!.config/starship.toml
!.config/mimeapps.list
!.config/rustfmt
!.config/greenclip.toml
!scripts/
!.vimrc
!*.zshrc
!*.prettierrc
!*.profile
!*.xprofile
!*.tmux.conf
!*.vimrc
!.bashrc
!*local_supers.md
!*old-sys-pacman-qe.md
!.rustfmt.toml
!.config/leftwm/config.toml
!.config/leftwm/themes.toml
!.config/neofetch/
!README.md
!.config/dunst
!.mozilla/
!README.md
!Notes.md
!xorg.conf

### ARCH
# !.config/pacman
# !.config/paru

### NIX
!.config/nixos
!.config/nixpkgs
