# Ignore everything
/*
/*/

# But not these files...
!*.gitignore
!.config
.config/*
!.config/awesome
!.config/arco-dwm
!.config/kitty
!.config/polybar*
!.config/pacman
!.config/paru
!.config/himalaya
!.config/cheat
!.config/fish
!.config/vifm
!.config/starship.toml
!.config/mimeapps.list
!.config/rustfmt
!.config/greenclip.toml
!scripts/
!.vimrc
!*.zshrc
!*.prettierrc
!*.profile
!*.tmux.conf
!*.vimrc
!.bashrc
!*local_supers.md
!*old-sys-pacman-qe.md
!.rustfmt.toml
!.config/leftwm/config.toml
!.config/leftwm/themes.toml
!.mozilla/
!README.md
